<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
         thien's web
    </title>
    <link rel="stylesheet" href="thienstyle.css">
    <style>
.box1{
    width: 100%;
    height: 50px;
    background-color:rgba(27, 4, 4, 0.822);
    display: flex;
    font-size: 20px;
    border: 0px solid black;
    padding: 10px;
    justify-content: center;
    align-items:  center;
}
    </style>
</head>
<body style="margin: 0px;">
    <div class="box1">
        <div id="start" >
            <button> muc luc</button>
        </div>
        
        <div id="search">
            <input type="text"> 
        </div>
    </div>
    <div >
    <h1 style="color: red;" id="title1">        DANH SÁCH NHỮNG VIỆC CẦN LÀM         </h1>
    </div>
    <HR></HR>
    <input type="radio" name="gioitinh" > 
    <input type="radio" name="gioitinh" >
    <ul id="list">
        <li>đọc sách</li>
        <li>học tiếng anh</li>
        <li> nghe nhạc</li>
    </ul>
 <a href="https://www.youtube.com/watch?v=L83ceYS2w3g&list=UUYZ9rknEmE4R1J_HBJ2yBlQ&index=28&ab_channel=Vexento"> bai nhac yeu thich</a>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fvnexpress.net%2Fquoc-gia-nao-rong-nhat-chau-a-4038734.html&psig=AOvVaw23JdzhEUqu2vVOsvVRtSbe&ust=1614704608380000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPjXnsrJj-8CFQAAAAAdAAAAABAD" alt="bản đồ châu á" srcset="">
    <div id="box2">
        <h4> box and padding and border</h4>
    </div>
</body>

</html>